<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jianlongguo.abs.Activities" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/abslogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="ABS"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManageProfile"
            android:label="Profile" >
        </activity>
        <activity
            android:name=".ContactUsActivity"
            android:label="Contact Us" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Register" >
        </activity>
        <activity
            android:name=".RegisterActivity2"
            android:label="Register" >
        </activity>
        <activity
            android:name=".DisplayCurrAppt"
            android:label="Appointments" >
        </activity>
        <activity
            android:name=".NewAppt"
            android:label="New Appointment" >
        </activity>
        <activity
            android:name=".ApptInfoActivity"
            android:label="Appointment Details" >
        </activity>
        <activity
            android:name=".ChangeAppt"
            android:label="Change Appointment">
        </activity>
    </application>

</manifest>
